body {
    font-family: sans-serif;
    margin: 0px;
}

.golovna {
    border: 5px solid #00458D;
}

h1 {
    text-align: center;
    color: rgb(23, 23, 139);
}

main img {
    margin-top: 10px;

}

nav {
text-align: center;
}

nav a{
    text-decoration: none;
    border: 5px solid #FF9900;
    color: black;
    border-radius: 30px;
    background-color: #FFD500;
    padding: 5px;
    margin: 10px;
}

header {
    background-color: #1284FB;
    height: 120px;
    margin-bottom: 40px;
    
}

header img {
    height: 100px;
    margin: 10px;
}

footer {
    height: 120px;
    background-color: #00458D;
}

footer p {
    color: white;
}
